<div>
  <div class="row">
      <div class="col-12" [ngVar]="{graduationEventId: graduationEventId}" #filter="ngVar">
          <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="graduates">
              <advanced-search>
                <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
                [(filter)]="filter.value"></app-advanced-search-form>
              </advanced-search>
          </app-advanced-table-search>
      </div>
  </div>
  <div class="row">
    <div class="col-auto mt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Graduations.StudentsPlural'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Graduations.StudentsSingular'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="btn-group" *ngIf="graduates && graduates.selectable">
        <button [disabled]="!(graduates && graduates.selected && graduates.selected.length)" class="btn btn-outline-indigo btn-lg" type="button" (click)="cancelGraduation()"
                [translate]="'Graduations.CancelGraduation'">
        </button>
        <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <button [disabled]="!(graduates && graduates.selected && graduates.selected.length)" class="dropdown-item" [translate]="'Graduations.CancelGraduation'" (click)="cancelGraduation()">Cancel graduation</button>
          <button [disabled]="!(graduates && graduates.selected && graduates.selected.length)" class="dropdown-item" [translate]="'Graduations.CalculateRankByGradYear.Title'" (click)="calculatePercentileRanks('Grad')">CalculatePercentileRankByGradYear</button>
          <button [disabled]="!(graduates && graduates.selected && graduates.selected.length)" class="dropdown-item" [translate]="'Graduations.CalculateRankByInscrYear.Title'" (click)="calculatePercentileRanks('Inscr')">CalculatePercentileRankByInsYear</button>
          <button [disabled]="!(graduates && graduates.selected && graduates.selected.length)" class="dropdown-item" [translate]="'Graduations.CalculateClassesPercentileRank.Title'" (click)="calculateClassesPercentileRank()">CalculateClassesPercentileRank</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="graduates.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
          <button class="dropdown-item" (click)="graduates.selectNone()" [translate]="'Tables.ClearSelection'">Clear selection</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-12 mb-4">
          <app-advanced-table #graduates (load)="onDataLoad($event)"></app-advanced-table>
      </div>
  </div>
  <router-modal></router-modal>
</div>
