.search-result li a:hover {
  background-color: var(--indigo);
  color: var(--white) !important;
  * {
    color: var(--white) !important;
  }
}

.search-result li a {
  margin-bottom: 0.2em;
  display: inline-block;
  width: 100%;
  padding: 0.9rem;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

.student-icon,
.instructor-icon {
  padding-right: 1rem;
}

li {
  list-style-type: none;
}
