<div>
    <div class="row">
        <div class="col-auto">
            <h2 [translate]="'DataAvailabilityAttributes.Title'"></h2>
            <p [translate]="'DataAvailabilityAttributes.Description'"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a [routerLink]="['.', 'validate']" [translate]="'DataAvailabilityAttributes.Validation.Title'"></a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12" [ngVar]="{}" #filter="ngVar">
            <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [showMore]="false" [table]="table">
            </app-advanced-table-search>
          </div>
    </div>
    <div class="row">
        <div class="col-auto mt-4">
            <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
                <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Tables.Items'"></span>
            </div>
            <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
                <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Tables.Item'"></span>
            </div>
        </div>
        <div class="pull-right ml-auto mr-3 mt-3" *ngIf="supported">
            <div class="font-lg btn-toolbar mt-3">
                <button [disabled]="!(table && table.selected && table.selected.length)" class="mr-2 btn btn-success text-decoration-none" (click)="autoUpdate()">
                    <span>(+)</span><span>&nbsp;</span><span [translate]="'DataAvailabilityAttributes.AutoUpdate'"></span>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-theme dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                      <button [disabled]="!(table && table.selected && table.selected.length)"
                        class="dropdown-item text-danger text-decoration-none mr-2" (click)="remove()">
                        <span>-</span><span>&nbsp;</span><span [translate]="'Tables.RemoveItem'"></span>
                    </button>
                      <div class="dropdown-divider"></div>
                      <button class="dropdown-item text-decoration-none" (click)="table.selectAny()">
                            <span [translate]="'Tables.SelectAll'"></span>
                        </button>
                        <button class="dropdown-item text-decoration-none" (click)="export()">
                            <span [translate]="'Tables.Export'"></span>
                        </button>
                        <button [disabled]="!(table && table.selected && table.selected.length)" class="dropdown-item text-decoration-none" (click)="table.selectNone()">
                            <span [translate]="'Tables.ClearSelection'"></span>
                        </button>
                    </div>
                  </div>
                
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!supported">
        <div class="col-12 text-center">
            <div>
              <div class="mt-4">
                <div class="icon-circle bg-warning border-gray-100"></div>
              </div>
              <div class="mt-4">
                <h4 class="font-3xl text-dark" [translate]="'DataAvailabilityAttributes.NotSupportedTitle'"></h4>
                <p class="font-lg text-dark" [translate]="'DataAvailabilityAttributes.NotSupported'"></p>
              </div>
            </div>
          </div>
    </div>
    <div class="row" [ngClass]="{ 'd-none': !supported }">
        <div class="col-12 mb-4">
            <app-advanced-table [tableEditor] [multipleSelect]="true" [serverSide]="false" [selectable]="true" [showFooter]="false" [config]="tableConfiguration" #table (load)="onDataLoad($event)"
                [height]="600"></app-advanced-table>
        </div>
    </div>
    <router-modal></router-modal>
</div>